body {
  font-family: "Space Mono", monospace;
  background-color: #fafafa;
}

.container {
  text-align: center;
}

.content-container {
  width: 50%;
  padding: 2%;
  margin-left: 2%;
}

.paragraph {
  text-align: justify;
}

.list-section {
  text-align: center;
}

.link-section {
  list-style-type: none;
  padding: 0;
  width: 12%;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: table;
  margin: 0 auto;
}

a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: black;
  border-radius: 10px;
}

a:hover {
  background-color: #e2e2e2;
}

hr {
  margin: 15px -20px 20px;
  border: 0;
  border-top: 1px solid #e2e2e2;
}

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  margin-top: 15px;
  font-size: x-large;
  animation: typing 5s steps(1000000000000, end);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.home {
  position: fixed;
  bottom: 0;
  margin-bottom: 1%;
  width: 100%;
}

.me {
  width: 225px;
  border-radius: 10px;
}

.desc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.career-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 50%;
  display: flex;
  justify-content: center;
}

.mac-image {
  width: 50%;
  display: flex;
  justify-content: center;
}

.life {
  border-radius: 10px;
  width: 356px;
}

.scroll-container {
  height: min-content;
}

.scroll-image {
  display: flex;
  border-radius: 10px;
  width: fit-content;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.list {
  list-style-type: none;
  padding-inline-start: 0px;
}

table {
  text-align: center;
  width: 100%;
  margin-top: 10px;
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid #e2e2e2;
  border-radius: 10px;
}

tr:hover {
  background-color: #e2e2e2;
}

th {
  background-color: #495057;
  color: #fafafa;
  font-weight: 100;
}

.table-container {
  overflow-x: auto;
  width: 50%;
  padding: 2%;
  margin-left: 2%;
}

.mac {
  border-radius: 10px;
  width: 450px;
  margin-left: 40px;
}

.section-title {
  border-radius: 10px;
  background-color: #495057;
  color: #fafafa;
  padding: 10px;
  width: fit-content;
}

.table-list {
  list-style-type: "~ ";
}

@media screen and (max-width: 767px) {
  .desc {
    display: block;
  }

  .content-container {
    width: 95%;
  }

  .image {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .me{
    margin-top: 10px;
  }

  .mac{
    margin-top: 10px;
    width: 300px;
  }

  .life{
    height: 3000px;
  }
}

@media screen and (max-width: 1086px) {
  .career-container {
    display: block;
  }

  .table-container {
    width: 95%;
  }

  .mac-image {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .mac{
    margin-left: 0px;
  }
}

@media screen and (max-width: 1047px) {
    .content-container{
        margin-left: 0%;
    }

    .table-container{
        margin-left: 0%;
    }
}
